{
  "printWidth": 120,
  "trailingComma": "none",
  "tabWidth": 2,
  "semi": false,
  "arrowParens": "avoid",
  "singleQuote": true,
  "jsxSingleQuote": true,
  "jsxBracketSameLine": false,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": [
        "*.json"
      ],
      "options": {
        "tabWidth": 2,
        "singleQuote": true
      }
    },
    {
      "files": [
        "*.js*",
        "*.ts*"
      ]
    }
  ]
}
